.bloc-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    &__photo{
        width: 100%;
        & img{
            object-fit: cover;
            width: 100%;
            height: 250px;
            @include tablette{
                height: 320px;
            }
            @include desktop{
                height: 420px;
            }
        }
    }
    &__carte{
        display: flex;
        flex-direction: column;
        background-color: lighten($color: $color-secondary, $amount: 25%);
        border-radius: 35px 35px 0 0;
        margin-top: -35px;
        @include tablette{
            border-radius: 0;
            
        }
    }
}

.nom-resto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    width: 90%;
    margin: 15px auto 0;
    &>h1{
        font-size: 28px;
        margin: 10px 0;
    }
}

.entrees{
    @include disposition-menu-carte;
    animation: apparition 2s ease-out;
    overflow: hidden;
    &>p{
       @include dim-intitule-plat;
       @include tablette{
            @include proprietes-carte;
        }
    }
}

.entree{
    @include proprietes-choix-menu;
    animation: apparition 2s ease-out .2s;
    overflow: hidden;
    @include tablette{
        width: 60%;
        margin: 30px auto;
        &:hover{
            & > .entree__intitule{
                & > p{
                    margin-right: 20%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                & + .entree__prix{
                    transform: translateX(0);
                    
                    & + .entree__coche{
                        transform: translateX(0);
                        
                        & > .coche{
                            transform: rotate(0);
                        }
                    }
                }
            }

        }
    }
    &__intitule{
       @include proprietes-intitule-plat;
       transition: 1s;
       & > p{
        flex-wrap: nowrap;
        }
    }
    &__prix{
        @include proprietes-prix-plat;
        transition: 1s;
    }
    &__coche{
        @include proprietes-coche;
        transition: 1s;
        &>.coche{
            display: block;
            transform: rotate(-360deg);
            transition: all 1s;
        }
    }
    transition: 2s;
    &:active{
        & > .entree__intitule{
            & > p{
                margin-right: 20%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            & + .entree__prix{
                transform: translateX(0);
                
                & + .entree__coche{
                    transform: translateX(0);
                    
                    & > .coche{
                        transform: rotate(0);
                    }
                }
            }
        }
    }
   
}


.plats{
    @include disposition-menu-carte;
    animation: apparition 2s ease-out .5s;
    overflow: hidden;
    &>p{
       @include dim-intitule-plat;
       @include tablette{
            @include proprietes-carte;
        }
    }
    
}

.plat{
    @include proprietes-choix-menu;
    animation: apparition 2s ease-out .7s;
    overflow: hidden;
    @include tablette{
        width: 60%;
        margin: 30px auto;
    }
    &__intitule{
        @include proprietes-intitule-plat;
        transition: 1s;
        
    }
    &__prix{
       @include proprietes-prix-plat;
       transition: 1s;
    }
    &__coche{
        @include proprietes-coche;
        transition: 1s;
        &>.coche{
            display: block;
            transform: rotate(-360deg);
            transition: all 1s;
        }
    }
    transition: 2s;
    &:active{
        & > .plat__intitule{
            & > p{
                margin-right: 20%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            & + .plat__prix{
                transform: translateX(0);
                
                & + .plat__coche{
                    transform: translateX(0);
                    
                    & > .coche{
                        transform: rotate(0);
                        
                    }
                }
            }
        }
    }
}

.desserts{
    @include disposition-menu-carte;
    animation: apparition 2s ease-out 1s;
    overflow: hidden;
    &>p{
        @include dim-intitule-plat;
        @include tablette{
           @include proprietes-carte;
        }
    }
}

.dessert{
    @include proprietes-choix-menu;
    animation: apparition 2s ease-out 1.2s;
    overflow: hidden;
    @include tablette{
        width: 60%;
        margin: 30px auto;
    }
    &__intitule{
        @include proprietes-intitule-plat;
        transition: 1s;
    }
    &__prix{
        @include proprietes-prix-plat;
        transition: 1s;
    }
    &__coche{
        @include proprietes-coche;
        transition: 1s;
        &>.coche{
            display: block;
            transform: rotate(-360deg);
            transition: all 1s;
        }
    }
    transition: 2s;
    &:active{
        & > .dessert__intitule{
            & > p{
                margin-right: 20%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            & + .dessert__prix{
                transform: translateX(0);
                
                & + .dessert__coche{
                    transform: translateX(0);
                    
                    & > .coche{
                        transform: rotate(0);
                        
                    }
                }
            }
        }
    }
}


    





   



    
    





    


    















    
    










