.bloc-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    &__photo{
        width: 100%;
        & img{
            object-fit: cover;
            width: 100%;
            height: 250px;
            @include tablette{
                height: 320px;
            }
            @include desktop{
                height: 420px;
            }
        }
    }
    &__carte{
        display: flex;
        flex-direction: column;
        background-color:  lighten($color: $color-black, $amount: 93%);
        border-radius: 35px 35px 0 0;
        margin-top: -35px;
        width: 100%;/*rajout*/
        overflow: hidden;
        
        @include tablette{
            border-radius: 0;
            
        }
    }
}

.nom-resto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 22px;
    width: 90%;
    margin: 15px auto 0;
    &>h1{
        font-size: 28px;
        margin: 10px 0;
    }
}

.entrees{
    @include disposition-menu-carte;
    animation: apparition 2s ease-out;
    overflow: hidden;
    @include tablette{
        width: 50%;
        max-width: 500px;
    }
    &>p{
        @include dim-intitule-plat;
    }
}

.entree{
    @include dim-intitules;
    animation: apparition 2s ease-out .2s;
    &__intitule{
        transition: all 1s ease-in-out;
        @include prop-contenu-plat;
        &__prix{
            transition: all 1s ease-in-out;
            @include prop-prix;
            &>.prix{
               margin-right: -20px;
               transform: translateX(100%);
               transition: all 1s ease-in-out;
            }
        }
    }
    &__coche{
        @include prop-coche;
        transition: all 1s ease-in-out;
        transform: translateX(100%);
        &>.coche{
           display: block; 
           transform: rotate(-360deg);
           transition: transform 1s;
        }
    }
    &:active{
        &>.entree__intitule{
            & h2{
                margin-right: 20%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                transition: all 1s ease-in-out;
            }
            & .entree__intitule__prix{
                transition: all 1s ease-in-out;
                &>.descriptif{
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    margin-right: 20%;
                }
                &>.prix{
                    transform: translateX(0);
                    margin-right: 5px;
                }
            }
        }
        &>.entree__coche{
            animation: coche-viensla 1s forwards;
            transform: translateX(0);
            &>.coche{
                transform: rotate(0deg);
            }
        }
    }
    @include tablette{
        &:hover{
            &>.entree__intitule{
                & h2{
                    margin-right: 20%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                & .entree__intitule__prix{
                    &>.descriptif{
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        margin-right: 20%;
                    }
                    &>.prix{
                        transform: translateX(0);
                        margin-right: 5px;
                    }
                }
            }
            &>.entree__coche{
                animation: coche-viensla 1s forwards;
                transform: translateX(0);
                &>.coche{
                    transform: rotate(0deg);
                }
            }
        }
    }
}

.plats{
    @include disposition-menu-carte;
    animation: apparition 2s ease-out .4s;
    overflow: hidden;
    @include tablette{
        width: 50%;
        max-width: 500px;
    }
    &>p{
        @include dim-intitule-plat;
    }
}

.plat{
    @include dim-intitules;
    animation: apparition 2s ease-out .2s;
    transition: all 1s linear;
    &__intitule{
        transition: all 1s ease-in-out;
        @include prop-contenu-plat;
        &__prix{
            transition: all 1s ease-in-out;
            @include prop-prix;
            &>.prix{
               margin-right: -20px;
               transform: translateX(100%);
               transition: all 1s ease-in-out;
            }
        }
    }
    &__coche{
        @include prop-coche;
        transition: all 1s ease-in-out;
        transform: translateX(100%);
        &>.coche{
           display: block; 
           transform: rotate(-360deg);
           transition: transform 1s;
        }
    }
    &:active{
        &>.plat__intitule{
            & h2{
                margin-right: 20%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                transition: all 1s ease-in-out;
            }
            & .plat__intitule__prix{
                transition: all 1s ease-in-out;
                &>.descriptif{
                    transition: all 1s;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    margin-right: 20%;
                }
                &>.prix{
                    transform: translateX(0);
                    margin-right: 5px;
                }
            }
        }
        &>.plat__coche{
            animation: coche-viensla 1s forwards;
            transform: translateX(0);
            &>.coche{
                transform: rotate(0deg);
            }
        }
        
    }
    @include tablette{
       &:hover{
        &>.plat__intitule{
            & h2{
                margin-right: 20%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                transition: all 1s;
            }
            & .plat__intitule__prix{
                transition: all 1s;
                &>.descriptif{
                    transition: all 1s;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    margin-right: 20%;
                }
                &>.prix{
                    transform: translateX(0);
                    transition: all 1s linear;
                    margin-right: 5px;
                }
            }
        }
        &>.plat__coche{
            animation: coche-viensla 1s forwards;
            transform: translateX(0);
            &>.coche{
                transform: rotate(0deg);
            }
        }
       }
    }
}

.desserts{
    @include disposition-menu-carte;
    animation: apparition 2s ease-out .8s;
    overflow: hidden;
    @include tablette{
        width: 50%;
        max-width: 500px;
    }
    &>p{
        @include dim-intitule-plat;
    }
}

.dessert{
    @include dim-intitules;
    animation: apparition 2s ease-out .2s;
    transition: all 1s linear;
    &__intitule{
        @include prop-contenu-plat;
        &__prix{
            @include prop-prix;
            &>.prix{
               margin-right: -20px;
               transform: translateX(100%);
               transition: all 1.5s;
            }
        }
    }
    &__coche{
        @include prop-coche;
        transition: transform 1.5s;
        transform: translateX(100%);
        &>.coche{
           display: block; 
           transform: rotate(-360deg);
           transition: transform 1s;
        }
    }
    &:active{
        &>.dessert__intitule{
            & h2{
                margin-right: 20%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                transition: all 1s;
            }
            & .dessert__intitule__prix{
                transition: all 1s;
                &>.descriptif{
                    transition: all 1s;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    margin-right: 20%;
                }
                &>.prix{
                    transform: translateX(0);
                    transition: all 1s linear;
                    margin-right: 5px;
                }
            }
        }
        &>.dessert__coche{
            animation: coche-viensla 1s forwards;
            transform: translateX(0);
            &>.coche{
                transform: rotate(0deg);
            }
        }
        
    }
    @include tablette{
        &:hover{
            &>.dessert__intitule{
                & h2{
                    margin-right: 20%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    transition: all 1s;
                }
                & .dessert__intitule__prix{
                    transition: all 1s;
                    &>.descriptif{
                        transition: all 1s;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        margin-right: 20%;
                    }
                    &>.prix{
                        transform: translateX(0);
                        transition: all 1s linear;
                        margin-right: 5px;
                    }
                }
            }
            &>.dessert__coche{
                animation: coche-viensla 1s forwards;
                transform: translateX(0);
                &>.coche{
                    transform: rotate(0deg);
                }
            }
        }
    }
}















   



    
    





    


    















    
    










