.pied-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $color-white;
    background-color: lighten($color: $color-black, $amount: 20%);
    
    &__titre{
        font-size: 20px;
        width: 90%;
        margin: 20px 30px;
        font-weight: 200;
        @include tablette{
           text-align: center;
            margin: 20px auto 0;
            font-size: 24px;
        }
    }

    &__liens{
        display: flex;
        flex-direction: column;
        margin: auto 30px;
        margin-bottom: 40px;
        width: 90%;
        font-size: 18px;
        @include tablette{
            flex-direction: row;
            justify-content: space-between;
            margin-top: 30px;
        }
        
        &>.lien{
            text-decoration: none;
            margin-bottom: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $color-white;
        }
    }
}


.lien__icone--taille{
    font-size: 14px;
}
.lien__illustre{
    margin-left: 10px;
}





