.entete{
    height: 80px;
    box-shadow: 0 5px 10px 0px lighten($color: $color-black, $amount: 80%);
    margin-bottom: 5px;
    &__img{
        text-align: center;
        &>img{
            width: 50%;
            max-width: 200px;
            margin-top: 28px;
        }
       
    }
    &--retour{
        margin-bottom: 0;
    
        &__icone{
            font-size: 24px;
            position: absolute;
            top: 30px;
            left: 25px;
            transform: translate(50%);
        }
    }
    
}
    
  


