/*@mixin proprietes-intitule-plat{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;




}*/
/*@mixin proprietes-carte {
    width: 100px;
    margin: auto;
    text-align: center;
    margin-top: 20px 
}*/
/*@mixin proprietes-prix-plat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    font-weight: normal;
    margin-right: 10px;
    transform: translateX(100%);



}*/
/*@mixin proprietes-coche {
    width: 15%;
    font-size: 26px;
    padding-top: 25px;
    padding-left: 15px;
    color: $color-white;
    background-color: $color-tertiary;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    transform: translateX(100%);

}*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0%;
}

@keyframes apparition {
  0% {
    transform: translateY(900px);
    opacity: 0;
  }
  50% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

h1, .logo {
  font-family: "Shrikhand", serif;
}

p em {
  font-style: normal;
  font-weight: bold;
}

/*p em{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;

}

p{
    font-size: 16px;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

}*/
.btn {
  color: white;
  padding: 15px 10px;
  width: 50%;
  max-width: 300px;
  background: linear-gradient(355deg, rgb(147, 86, 220) 13%, rgb(242, 115, 207) 90%);
  /* background-image: linear-gradient( $color-secondary , $color-primary );*/
  margin: 30px auto;
  border-radius: 30px;
  height: 55px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 5px 10px 0px #b3b3b3;
  transition: opacity 0.2s;
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 0 5px 10px 0px #999999;
}
.btn--accueil {
  width: 62%;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 20px;
  }
}

.coeur {
  height: 45px;
  margin-right: 20px;
  margin-top: 0;
  width: 40px;
  overflow: hidden;
  text-align: center;
}

.coeur__remplissage {
  transition: all 2s;
  overflow: hidden;
  -webkit-background-composite: black;
  width: 100%;
  cursor: pointer;
  display: block;
  font-size: 24px;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  position: relative;
}
.coeur__remplissage:active {
  background: linear-gradient(355deg, rgb(147, 86, 220) 13%, rgb(242, 115, 207) 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: unset;
  -webkit-text-fill-color: linear-gradient(#FF79DA 20%, #9356DC 10%);
  animation: remplissage 2000ms;
}

@keyframes remplissage {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.bloc-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bloc-menu__photo {
  width: 100%;
}
.bloc-menu__photo img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
@media screen and (min-width: 768px) {
  .bloc-menu__photo img {
    height: 320px;
  }
}
@media screen and (min-width: 992px) {
  .bloc-menu__photo img {
    height: 420px;
  }
}
.bloc-menu__carte {
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  border-radius: 35px 35px 0 0;
  margin-top: -35px;
}
@media screen and (min-width: 768px) {
  .bloc-menu__carte {
    border-radius: 0;
  }
}

.nom-resto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  width: 90%;
  margin: 15px auto 0;
}
.nom-resto > h1 {
  font-size: 28px;
  margin: 10px 0;
}

.entrees {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  /* animation: apparition 2s ease-out;
   overflow: hidden;*/
}
.entrees > p {
  border-bottom: 3px solid #99E2D0;
  margin-top: 20px;
  width: 47px;
  margin-bottom: 15px;
  font-size: 18px;
}

.entree {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aquamarine;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0px #e6e6e6;
}
.entree__intitule {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin: 10px;
  width: 90%;
}
.entree__intitule__prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}
.entree__coche {
  width: 18%;
  background-color: #99E2D0;
  color: #fff;
  padding: 15px 15px;
  font-size: 24px;
  display: none;
}

.plats {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  /* animation: apparition 2s ease-out;
   overflow: hidden;*/
}
.plats > p {
  border-bottom: 3px solid #99E2D0;
  margin-top: 20px;
  width: 47px;
  margin-bottom: 15px;
  font-size: 18px;
}

.plat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aquamarine;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0px #e6e6e6;
}
.plat__intitule {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin: 10px;
  width: 90%;
}
.plat__intitule__prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}
.plat__coche {
  width: 18%;
  background-color: #99E2D0;
  color: #fff;
  padding: 15px 15px;
  font-size: 24px;
  display: none;
}

.desserts {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  /* animation: apparition 2s ease-out;
   overflow: hidden;*/
}
.desserts > p {
  border-bottom: 3px solid #99E2D0;
  margin-top: 20px;
  width: 47px;
  margin-bottom: 15px;
  font-size: 18px;
}

.dessert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aquamarine;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0px #e6e6e6;
}
.dessert__intitule {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin: 10px;
  width: 90%;
}
.dessert__intitule__prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}
.dessert__coche {
  width: 18%;
  background-color: #99E2D0;
  color: #fff;
  padding: 15px 15px;
  font-size: 24px;
  display: none;
}

/*.entree{
    @include proprietes-choix-menu;*/ /**/
/* animation: apparition 2s ease-out .7s;
 overflow: hidden;
 transition: all 1s;*/
/* &__intitule{
     @include proprietes-intitule-plat;
      &__prix{
          @include proprietes-prix-plat;
          transition: all 1s;
      }
  }
  &__coche{
      @include proprietes-coche;
      transition: all 1s;
      &>.coche{
          display: block;
          transform: rotate(-360deg);
         transition: all 1s;
      }
  }
/*  &:active{

      & > .entree__intitule{
          & > h2{
              margin-right: 20%;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
          }
          & + .entree__intitule__prix{
              &>p{
                  margin-right: 20%;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
              }
              &>p em{
                  transform: translateX(0);
              }
              & + .entree__coche{
                  transform: translateX(0);

                  & > .coche{
                      transform: rotate(0);

                  }
              }
          }
      }
  }*/
/* @include tablette{
     width: 60%;
     margin: 30px auto;
     &:hover{
         & > .entree__intitule{
             & > p{
                 margin-right: 20%;
                 text-overflow: ellipsis;
                 overflow: hidden;
                 white-space: nowrap;
             }
             & + .entree__prix{
                 transform: translateX(0);

                 & + .entree__coche{*/
/*transform: translateX(0);*/
/*  animation: coche-viensla .5s linear forwards;

                        & > .coche{
                            transform: rotate(0);
                        }
                    }
                }
            }

        }
    }
}


.plats{
    @include disposition-menu-carte;
    animation: apparition 2s ease-out .5s;
    overflow: hidden;
    &>p{
       @include dim-intitule-plat;
       @include tablette{
            @include proprietes-carte;
        }
    }
}
.plat{
    @include proprietes-choix-menu;
    animation: apparition 2s ease-out .7s;
    overflow: hidden;
    &__intitule{
        @include proprietes-intitule-plat;
        transition: 1s;
        &>p{
            margin-bottom: 5px;
           }

    }
    &__prix{
       @include proprietes-prix-plat;
       transition: 1s;
       &>p{
        font-size: 14px;
       }
    }
    &__coche{
        @include proprietes-coche;
        transition: 1s;
        &>.coche{
            display: block;
            transform: rotate(-360deg);
            transition: all 1s;
        }
    }
    &:active{
        & > .plat__intitule{
            & > p{
                margin-right: 20%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            & + .plat__prix{
                transform: translateX(0);

                & + .plat__coche{
                    animation: coche-viensla .5s linear forwards;

                    & > .coche{
                        transform: rotate(0);

                    }
                }
            }
        }
    }
    @include tablette{
        width: 60%;
        margin: 30px auto;
        &:hover{
            & > .plat__intitule{
                & > p{
                    margin-right: 20%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                & + .plat__prix{
                    transform: translateX(0);

                    & + .plat__coche{*/
/*transform: translateX(0);*/
/*   animation: coche-viensla .5s linear forwards;

                        & > .coche{
                            transform: rotate(0);
                        }
                    }
                }
            }

        }
    }
}

.desserts{
    @include disposition-menu-carte;
    animation: apparition 2s ease-out 1s;
    overflow: hidden;
    &>p{
        @include dim-intitule-plat;
        @include tablette{
           @include proprietes-carte;
        }
    }
}

.dessert{
    @include proprietes-choix-menu;
    animation: apparition 2s ease-out .7s;
    overflow: hidden;
    &__intitule{
        @include proprietes-intitule-plat;
        transition: 1s;
        &>p{
            margin-bottom: 5px;
           }

    }
    &__prix{
       @include proprietes-prix-plat;
       transition: 1s;
       &>p{
        font-size: 14px;
       }
    }
    &__coche{
        @include proprietes-coche;
        transition: 1s;
        &>.coche{
            display: block;
            transform: rotate(-360deg);
            transition: all 1s;
        }
    }
    &:active{
        & > .dessert__intitule{
            & > p{
                margin-right: 20%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            & + .dessert__prix{
                transform: translateX(0);

                & + .dessert__coche{
                    animation: coche-viensla .5s linear forwards;

                    & > .coche{
                        transform: rotate(0);

                    }
                }
            }
        }
    }
    @include tablette{
        width: 60%;
        margin: 30px auto;
        &:hover{
            & > .dessert__intitule{
                & > p{
                    margin-right: 20%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                & + .dessert__prix{
                    transform: translateX(0);

                    & + .dessert__coche{*/
/*transform: translateX(0);*/
/*   animation: coche-viensla .5s linear forwards;

                        & > .coche{
                            transform: rotate(0);
                        }
                    }
                }
            }

        }
    }
}*/
@keyframes apparition {
  0% {
    transform: translateY(900px);
    opacity: 0;
  }
  50% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes coche-viensla {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/*menu test*/
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
}

.menu__intitule {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
}

.menu__intitule__prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  font-weight: normal;
  margin-right: 10px;
}

.menu__coche {
  width: 15%;
  background-color: #99E2D0;
  font-size: 28px;
  text-align: center;
  align-items: center;
  display: none;
}

.pied-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  background-color: #333333;
}
.pied-page__titre {
  font-size: 20px;
  width: 90%;
  margin: 20px 30px;
  font-weight: 200;
}
@media screen and (min-width: 768px) {
  .pied-page__titre {
    text-align: center;
    margin: 20px auto 0;
    font-size: 24px;
  }
}
.pied-page__liens {
  display: flex;
  flex-direction: column;
  margin: auto 30px;
  margin-bottom: 40px;
  width: 90%;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .pied-page__liens {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }
}
.pied-page__liens > .lien {
  text-decoration: none;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
}

.lien__icone--taille {
  font-size: 14px;
}

.lien__illustre {
  margin-left: 10px;
}

.form {
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  background-color: #ebebeb;
}
.form__icone {
  margin-right: 20px;
}
@media screen and (min-width: 992px) {
  .form__icone {
    margin-right: 45px;
  }
}

.entete {
  height: 80px;
  box-shadow: 0 5px 10px 0px #cccccc;
  margin-bottom: 5px;
}
.entete__img {
  text-align: center;
}
.entete__img > img {
  width: 50%;
  max-width: 200px;
  margin-top: 28px;
}
.entete--retour {
  margin-bottom: 0;
}
.entete--retour__icone {
  font-size: 24px;
  position: absolute;
  top: 30px;
  left: 25px;
  transform: translate(50%);
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  background-color: #f2f2f2;
}
@media screen and (min-width: 992px) {
  .presentation {
    height: 300px;
    margin-bottom: 50px;
  }
}
.presentation__titre {
  font-size: 28px;
  width: 80%;
  font-weight: 900;
  margin-top: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .presentation__titre {
    font-size: 24px;
  }
}
.presentation__texte {
  font-size: 20px;
  width: 90%;
  text-align: center;
  margin-top: 20px;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .presentation__texte {
    font-size: 18px;
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.fonctionnement__titre {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .fonctionnement__titre {
    text-align: center;
    margin-bottom: 30px;
  }
}
.fonctionnement__etapes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .fonctionnement__etapes {
    flex-flow: row wrap;
    margin-bottom: 30px;
  }
}

.etape {
  position: relative;
  width: 90%;
  height: 80px;
  margin: 15px auto;
  border-radius: 25px;
  box-shadow: 0 5px 10px 0px #d9d9d9;
}
.etape--couleur {
  background-color: #f2eafb;
}
@media screen and (min-width: 768px) {
  .etape {
    width: 40%;
  }
}
.etape__nbre {
  position: absolute;
  left: -15px;
  top: 25px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #9356DC;
}
@media screen and (min-width: 768px) {
  .etape__nbre {
    top: -15px;
    left: 45%;
  }
}
.etape__icone {
  position: absolute;
  left: 30px;
  top: 30px;
  font-size: 22px;
  color: #4d4d4d;
}
@media screen and (min-width: 768px) {
  .etape__icone {
    font-size: 24px;
  }
}
.etape__icone--couleur {
  color: #9356DC;
}
.etape__texte {
  position: absolute;
  left: 70px;
  top: 30px;
  font-size: 18px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .etape__texte {
    left: 25%;
  }
}

.restos {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background-color: #f2f2f2;
}
.restos__titre {
  font-size: 28px;
  font-weight: 900;
  width: 90%;
  margin: 50px auto 0;
}
.restos__cards {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .restos__cards {
    flex-flow: row wrap;
    margin-bottom: 50px;
  }
}

.card {
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 270px;
  margin-bottom: 25px;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0px #d9d9d9;
}
@media screen and (min-width: 768px) {
  .card {
    width: 40%;
  }
}
@media screen and (min-width: 992px) {
  .card {
    width: 20%;
    margin-top: 30px;
  }
}

.card__img {
  width: 100%;
  height: 190px;
  position: relative;
}

.card__img img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 20px 20px 0 0;
}

.card__img p {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 10px;
  font-size: 18px;
  background-color: #99E2D0;
}

.card__txt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .card__txt {
    font-size: 22px;
  }
}

@keyframes chargement {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
.chargement {
  display: inline-block;
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(355deg, rgb(147, 86, 220) 13%, rgb(242, 115, 207) 90%);
  /* background-image: linear-gradient( $color-secondary 50%, $color-primary 50%);*/
  z-index: 3;
  bottom: 0;
  animation: chargement 3s ease-out both;
}

.chargement div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: 40%;
  top: 44%;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) 3;
  border-color: #fff transparent transparent;
}

.chargement div:nth-child(1) {
  animation-delay: -0.45s;
}

.chargement div:nth-child(2) {
  animation-delay: -0.3s;
}

.chargement div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
