*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0%;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, .logo {
  font-family: "Shrikhand", serif;
}

.btn-coeur {
  font-size: 28px;
  margin-right: 10px;
}

p em {
  font-style: normal;
  font-weight: bold;
}

.btn {
  color: #fff;
  padding: 15px 10px;
  width: 50%;
  max-width: 300px;
  background-color: #9356DC;
  margin: 30px auto;
  border-radius: 25px;
  height: 55px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.btn:valid::after {
  opacity: 0;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background-color: #ae80e5;
  opacity: 1;
  z-index: -1;
  transition: opacity 250ms;
}
.btn--accueil {
  width: 62%;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .btn:hover::after {
    opacity: 1;
  }
}

.bloc-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bloc-menu__photo {
  width: 100%;
}
.bloc-menu__photo img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
@media screen and (min-width: 768px) {
  .bloc-menu__photo img {
    height: 320px;
  }
}
@media screen and (min-width: 992px) {
  .bloc-menu__photo img {
    height: 420px;
  }
}
.bloc-menu__carte {
  display: flex;
  flex-direction: column;
  background-color: #fff9fd;
  border-radius: 35px 35px 0 0;
  margin-top: -35px;
}
@media screen and (min-width: 768px) {
  .bloc-menu__carte {
    border-radius: 0;
  }
}

.nom-resto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  width: 90%;
  margin: 15px auto;
}
.nom-resto > h1 {
  font-size: 28px;
  margin: 10px 0;
}

.entrees {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.entrees > p {
  margin-bottom: 15px;
  font-size: 20px;
  border-bottom: 3px solid #99E2D0;
}
@media screen and (min-width: 768px) {
  .entrees > p {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
  }
}
.entrees > a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #000;
  border-radius: 20px;
  box-shadow: 0 0 17px 4px #ffdff6;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .entrees > a {
    flex-direction: column;
    width: 50%;
    margin: 10px auto;
  }
}
.entrees > a > .entree__intitule {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 18px;
  width: 100%;
  margin-left: 10px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .entrees > a > .entree__intitule {
    text-align: center;
  }
}
.entrees > a > .entree__intitule > p {
  font-size: 18px;
}
.entrees > a > .entree__intitule > p > em {
  font-size: 20px;
}
.entrees > a > .entree__prix {
  font-size: 16px;
  margin-right: 20px;
}
.entrees > a > .entree__prix > p {
  margin-top: 20px;
  font-size: 16px;
}

.coche {
  display: none;
}
.coche:hover {
  display: block;
}

.plats {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.plats > p {
  margin-bottom: 15px;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .plats > p {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
  }
}
.plats > a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #000;
  border-radius: 20px;
  box-shadow: 0 0 17px 4px #ffdff6;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .plats > a {
    flex-direction: column;
    width: 50%;
    margin: 10px auto;
  }
}
.plats > a > .plat__intitule {
  margin-top: 20px;
  font-size: 16px;
  width: 80%;
  margin-left: 10px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .plats > a > .plat__intitule {
    text-align: center;
  }
}
.plats > a > .plat__intitule > p {
  font-size: 18px;
}
.plats > a > .plat__intitule > p > em {
  font-size: 20px;
}
.plats > a > .plat__prix {
  font-size: 16px;
  margin-right: 20px;
}
.plats > a > .plat__prix > p {
  margin-top: 20px;
}

.desserts {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.desserts > p {
  margin-bottom: 15px;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .desserts > p {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
  }
}
.desserts > a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #000;
  border-radius: 20px;
  box-shadow: 0 0 17px 4px #ffdff6;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .desserts > a {
    flex-direction: column;
    width: 50%;
    margin: 10px auto;
  }
}
.desserts > a > .dessert__intitule {
  margin-top: 20px;
  width: 80%;
  margin-left: 10px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .desserts > a > .dessert__intitule {
    text-align: center;
  }
}
.desserts > a > .dessert__intitule > p {
  font-size: 18px;
}
.desserts > a > .dessert__intitule > p > em {
  font-size: 20px;
}
.desserts > a > .dessert__prix {
  font-size: 18px;
  margin-right: 20px;
}
.desserts > a > .dessert__prix > p {
  margin-top: 20px;
}

.pied-page {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #333333;
}
.pied-page__logo {
  width: 70%;
  margin: 20px;
  color: #fff;
}
.pied-page__liens {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 40px;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .pied-page__liens {
    flex-flow: row wrap;
    font-size: 22px;
  }
}

.lien {
  text-decoration: none;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .lien {
    width: 40%;
    margin: 20px 40px;
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .lien {
    width: 20%;
    margin: 10px;
  }
}
.lien__icone {
  margin-right: 12px;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .lien__icone {
    font-size: 18px;
  }
}
.lien__icone--taille {
  font-size: 12px;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .lien__icone--taille {
    font-size: 16px;
  }
}

.form {
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 0 4px 0px #481a7f;
  background-color: #ffdff6;
}
@media screen and (min-width: 768px) {
  .form {
    margin-top: 20px;
  }
}
@media screen and (min-width: 992px) {
  .form {
    font-size: 22px;
    margin-top: 0;
  }
}
.form__icone {
  margin-right: 20px;
}
@media screen and (min-width: 992px) {
  .form__icone {
    margin-right: 45px;
  }
}

.entete {
  height: 80px;
}
.entete__logo {
  text-align: center;
  padding-top: 30px;
  height: 100%;
}
.entete--retour {
  position: relative;
}
.entete--retour__icone {
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 24px;
}
.entete--retour__logo {
  position: absolute;
  top: 30px;
  left: 110px;
  width: 85%;
}

.logo > img {
  width: 50%;
}
.logo > img--accueil > img {
  margin: 20px auto 10px;
}
.logo > img--retour > img {
  margin-left: 40%;
}
.logo > img--footer > img {
  width: 20%;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  background-color: #fff3fc;
}
@media screen and (min-width: 992px) {
  .presentation {
    height: 300px;
    margin-bottom: 50px;
  }
}
.presentation__titre {
  font-size: 28px;
  width: 80%;
  font-weight: 900;
  margin-top: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .presentation__titre {
    font-size: 24px;
  }
}
.presentation__texte {
  font-size: 20px;
  width: 90%;
  text-align: center;
  margin-top: 20px;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .presentation__texte {
    font-size: 18px;
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  margin-bottom: 40px;
}
.fonctionnement__titre {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .fonctionnement__titre {
    font-size: 30px;
    margin-left: 2%;
  }
}
@media screen and (min-width: 992px) {
  .fonctionnement__titre {
    text-align: center;
    margin-bottom: 30px;
  }
}
.fonctionnement__etapes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .fonctionnement__etapes {
    flex-flow: row wrap;
    margin-bottom: 30px;
  }
}

.etape {
  position: relative;
  width: 90%;
  height: 80px;
  margin: 15px auto;
  background-color: #fff9fd;
  border-radius: 25px;
  box-shadow: 0 0 17px 4px #ffdff6;
}
@media screen and (min-width: 768px) {
  .etape {
    width: 25%;
  }
}
.etape__nbre {
  position: absolute;
  left: -15px;
  top: 25px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #9356DC;
}
@media screen and (min-width: 768px) {
  .etape__nbre {
    top: -15px;
    left: 45%;
  }
}
.etape__icone {
  position: absolute;
  left: 30px;
  top: 30px;
  font-size: 22px;
  color: #4d4d4d;
}
@media screen and (min-width: 768px) {
  .etape__icone {
    font-size: 24px;
    left: 45px;
  }
}
.etape__icone--couleur {
  color: #9356DC;
}
.etape__texte {
  position: absolute;
  left: 70px;
  top: 30px;
  font-size: 18px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .etape__texte {
    font-size: 22px;
    left: 90px;
  }
}

.restos {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background-color: #fff9fd;
}
.restos__titre {
  font-size: 28px;
  font-weight: 900;
  margin-top: 40px;
  margin-left: 20px;
}
@media screen and (min-width: 992px) {
  .restos__titre {
    margin-left: 5%;
  }
}
.restos__cards {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .restos__cards {
    flex-flow: row wrap;
    margin-bottom: 50px;
  }
}

.card {
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 270px;
  margin-bottom: 25px;
  border-radius: 20px;
  box-shadow: 0 0 17px 4px #ffdff6;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .card {
    width: 40%;
  }
}
@media screen and (min-width: 992px) {
  .card {
    width: 20%;
    margin-top: 30px;
  }
}

.card__img {
  width: 100%;
  height: 190px;
  position: relative;
}

.card__img img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 20px 20px 0 0;
}

.card__img p {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 10px;
  font-size: 18px;
  background-color: #99E2D0;
}

.card__txt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .card__txt {
    font-size: 22px;
  }
}

/*# sourceMappingURL=style.css.map */
