body{
    font-family: 'Roboto', sans-serif;
}
.Logo-site, h1, h2{
    font-family: 'Shrikhand', serif;
    font-weight: 900;
}
.logo-site{
    font-size: 24px;
}
h1{
    font-size: 20px;
}
*{
    margin: 0;
}

p{
    font-family: 'Roboto', sans-serif;
}
