body{
    font-family: 'Roboto', sans-serif;
}

h1, .logo, h2{
    font-family: 'Shrikhand', serif;
}

/*.btn-coeur{
    font-size: 28px;
    margin-right: 10px;
}*/


p em{
    font-style: normal;
    font-weight: bold;
}

