.presentation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    background-color:  lighten($color: $color-black, $amount: 95%);
    @include desktop{
        height: 300px;
        margin-bottom: 50px;
    }
    &__titre{
        font-size: 28px;
        width: 80%;
        font-weight: 900;
        margin-top: 30px;
        text-align: center;
        @include tablette{
            font-size: 24px;
        }
    }
    &__texte{
        font-size: 20px;
        width: 90%;
        text-align: center;
        margin-top: 20px;
        color: lighten($color: $color-black, $amount: 50%);
        @include tablette{
            font-size: 18px;
        }
    }
}
.lien-explorer{
    text-decoration: none;
    color: $color-white;
}

.fonctionnement{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    
    &__titre{
        font-size: 28px;
        font-weight: 900;
        margin-bottom: 20px;
        
        @include desktop{
            text-align: center;
            margin-bottom: 30px;
        }
        
    }
    &__etapes{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        @include tablette{
            flex-flow: row wrap;
            margin-bottom: 30px;
        }
    }

}
.etape{
    position: relative;
    width: 90%;
    height: 80px;
    margin: 15px auto;
    border-radius: 25px;
    box-shadow: 0 5px 10px 0px lighten($color: $color-black, $amount: 90%);
    &--couleur{
        background-color: lighten($color: $color-primary, $amount: 35%);
    }
    @include tablette{
        width: 40%;
    }
    
    &__nbre{
        position: absolute;
        left: -15px;
        top: 25px;
        padding: 5px 10px;
        border-radius: 50%;
        color: $color-white;
        background-color: $color-primary;
        @include tablette{
            top: -15px;
            left: 45%;
        }
    }
    &__icone{
        position: absolute;
        left: 30px;
        top: 30px;
        font-size: 22px;
        -webkit-text-fill-color: lighten($color: $color-black, $amount: 50%);
        @include tablette{
            font-size: 24px;
        }
        &--couleur{
            -webkit-text-fill-color:  $color-primary;
        }
    }
    &__texte{
        position: absolute;
        left: 70px;
        top: 30px;
        font-size: 18px;
        font-weight: bold;
        @include tablette{
            
            left: 25%;
           
        }
    }
}
#restos{
    
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: lighten($color: $color-black, $amount: 95%);
    &__titre{
        font-size: 28px;
        font-weight: 900;
        width: 90%;
        margin: 50px auto 0;
    }
    &__cards{
        width: 90%;
        margin: auto;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include tablette{
            flex-flow: row wrap;
            margin-bottom: 50px;
        }
    }
}
.card{
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 270px;
    margin-bottom: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0px lighten($color: $color-black, $amount: 90%);
    
    @include tablette{
        width: 40%;
    }
   
}
.card__img{
    width: 100%;
    height: 190px;
    position: relative;
}
.card__img img{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 20px 20px 0 0;
}
.card__img p{
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 10px;
    font-size: 18px;
    color: darken($color: $color-tertiary, $amount: 35%);
    background-color: $color-tertiary;
    font-weight: bold;
    
   
}

.card__txt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    font-size: 20px;
    @include tablette{
        font-size: 22px;
    }

}


.chargement {
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(355deg, rgba(147,86,220,1) 13%, rgba(242,115,207,1) 90%);
    z-index: 3;
    bottom: 0;
    animation: chargement 1.5s ease-out both;
    
   
  }
  .chargement div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 40%;
    top: 44%;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) 3;
    border-color: #fff transparent transparent;
    @include tablette{
        left: 45%;
    }
  }
  .chargement div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .chargement div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .chargement div:nth-child(3) {
    animation-delay: -0.15s;
  }
 







