.presentation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
   /* background-color:  lighten($color: $color-secondary, $amount: 24%);*/
    @include desktop{
        height: 300px;
        margin-bottom: 50px;
    }
    &__titre{
        font-size: 28px;
        width: 80%;
        font-weight: 900;
        margin-top: 30px;
        text-align: center;
        @include tablette{
            font-size: 24px;
        }
    }
    &__texte{
        font-size: 20px;
        width: 90%;
        text-align: center;
        margin-top: 20px;
        font-weight: normal;
        @include tablette{
            font-size: 18px;
        }
    }
}
.fonctionnement{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    
    &__titre{
        font-size: 28px;
        font-weight: 900;
        margin-bottom: 20px;
        
        @include desktop{
            text-align: center;
            margin-bottom: 30px;
        }
        
    }
    &__etapes{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        @include tablette{
            flex-flow: row wrap;
            margin-bottom: 30px;
        }
    }

}
.etape{
    position: relative;
    width: 90%;
    height: 80px;
    margin: 15px auto;
    background-color: lighten($color: $color-secondary, $amount: 25%);
    border-radius: 25px;
    box-shadow: 0 5px 10px 0px lighten($color: $color-black, $amount: 85%);
    @include tablette{
        width: 40%;
    }
    
    &__nbre{
        position: absolute;
        left: -15px;
        top: 25px;
        padding: 5px 10px;
        border-radius: 50%;
        background-color: $color-primary;
        @include tablette{
            top: -15px;
            left: 45%;
        }
    }
    &__icone{
        position: absolute;
        left: 30px;
        top: 30px;
        font-size: 22px;
        color: lighten($color: $color-black, $amount: 30%);
        @include tablette{
            font-size: 24px;
            
        }
        &--couleur{
            color: $color-primary;
        }
        
    }
    &__texte{
        position: absolute;
        left: 70px;
        top: 30px;
        font-size: 18px;
        font-weight: bold;
        @include tablette{
            
            left: 25%;
           
        }
    }
}
.restos{
    
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: lighten($color: $color-black, $amount: 95%);
    &__titre{
        font-size: 28px;
        font-weight: 900;
        width: 90%;
        margin: 50px auto 0;
        
        
        @include tablette{
            
        }
        @include desktop{
           
            
        }
    }
    &__cards{
        width: 90%;
        margin: auto;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include tablette{
            flex-flow: row wrap;
            margin-bottom: 50px;

        }
        
       
    }
}
.card{
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 270px;
    margin-bottom: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0px lighten($color: $color-black, $amount: 85%);
    
    @include tablette{
        width: 40%;
    }
    @include desktop{
        width: 20%;
        margin-top: 30px;
    }
}
.card__img{
    width: 100%;
    height: 190px;
    position: relative;
    
    
    
    
}
.card__img img{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 20px 20px 0 0;
    
    

}
.card__img p{
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: $color-tertiary;
    
   
}

.card__txt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    font-size: 20px;
    @include tablette{
        font-size: 22px;
    }

}


.page-accueil{
    &:active{
        background-image: linear-gradient( $color-secondary 50%, $color-primary 50%);
        opacity: 0;
        &.chargement{
            opacity: 1;
            
           
            &::after{
                opacity: 1;
                animation: loader 3s linear 3;
                transform: rotate(3turn) scale(1);
            }
        }
    }
    &.chargement{
        width: 100%;
        height: 300px;
        border-radius: 50%;
        border-bottom-color: $color-primary;
        border-top-color: lighten($color: $color-secondary, $amount: 30%) ;
        border: 10px solid $color-secondary;
        position: relative;
        opacity: 0;
        display: block;
        &.__page{
            position: absolute;
            top: 7%;
            left: 5%;
            width: 200px;
            height: 200px;
            border: 10px solid red;
            border-radius: 50%;
            opacity: 1;

        }
    }
       
    &::after{
        content: "X";
        width: 90%;
        height: 60vh;
        border: 10px solid black;
        border-radius: 50%;
        border: 10px solid black;
        opacity: 0;
        transition: all 2s;
        position: absolute;
        top: 7%;
        left: 5%;
        background-color: aqua;
        transform: rotate(1turn) scale(0);
        transition: all 3s;
        display: block;
        
    }
    
}

@keyframes loader{
    0%{
        transform: rotate(0deg) scale(1) ;
        opacity: 1;
    }
    100%{
        transform: rotate(360deg) scale(0);
        opacity: 0;
    }
}

/*@keyframes body{
    0%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0);
    }
}*/





