
@mixin tablette {
    @media screen and (min-width: map-get($breakpoints, tablette)) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}

/*titre des sections entree plat dessert*/
@mixin dim-intitule-plat {
    border-bottom: 3px solid $color-tertiary;
    margin-top: 20px;
    width: 47px;
    margin-bottom: 15px;
    font-size: 18px;
}
/*sections entrees plats desserts*/
@mixin disposition-menu{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto 20px;
}

/*propriétés card des sections entrees plats desserts*/
@mixin dim-intitules{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: $color-white;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 6px 0px lighten($color: $color-black, $amount: 90%);
}

/*propriétés de l'intitulé de la card*/
@mixin prop-contenu-plat{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin: 10px 20px;
    width: 100%;
}

/*propriétés descriptif- prix de la card*/
@mixin prop-prix{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    width: 100%;
}

/*propriétes de la coche dans la card*/
@mixin prop-coche{
    width: 25%;
    max-width: 50px;
    background-color: $color-tertiary;
    color: $color-white;
    font-size: 24px;
    position: relative;
    padding-left: 0;
}





    

