
@mixin tablette {
    @media screen and (min-width: map-get($breakpoints, tablette)) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}
@mixin proprietes-carte {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 20px 
}



    

